nav {
    padding: 1.5rem 1.25rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    a h1 {
        margin: 0;
    }
}

.header__links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
.header__links li {
    padding: 1rem 1.5rem;
}
@media (min-width: 768px) {
    .header {
        left: 0;
        top: 0;
    }
    .nav {
        width: 100vw;
        height: 100%;
        border-bottom: none;
        align-items: flex-start;
    }
}
