:root {
    background: $color-secondary-dark;
    @media (prefers-color-scheme: light) {
        background: $color-secondary-light;
    }
}

@media (prefers-reduced-motion) {
    * {
        transition: none !important;
    }
}

pre,
code {
    background: $color-accent-dark;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 1.45rem;
    line-height: 1.42;
    border-radius: 3px;
    overflow: auto;
    word-wrap: normal;
    @media (prefers-color-scheme: light) {
        background: $color-accent-light;
    }
}

pre {
    padding: 1.45rem;
}

