.contact__container {
    width: 80vw;
    margin: auto;
    justify-content: center;
}

.button__contact {
    margin: auto;
    margin-bottom: 2rem;
    width: 20rem;
}

@media only screen and (max-width: 520px) {
    .button__contact {
        width: auto;
    }
}