@media (prefers-color-scheme: dark) {
    :root {
        background-color: #161618;
        color: #dbd7db;
    }

    html {
        scrollbar-color: #dbd7db #161618 !important;
    }

    .button__link {
        background-color: #67676c;
    }

    a {
       color: #dbd7db;
    }
}
