/* Components */
@import url("./welcome.css");
@import url("./services.css");

/* Fonts */
@font-face {
    font-family: "Work Sans";
    src: url("../fonts/work-sans/WorkSans-VariableFont_wght.ttf");
    font-style: normal;
}
@font-face {
    font-family: "Work Sans";
    src: url("../fonts/work-sans/WorkSans-Italic-VariableFont_wght.ttf");
    font-style: italic;
}

body {
    margin: 0;
    font-family: "Work Sans", sans-serif;
}
