.services {
    align-items: center;
    display: flex;
    justify-content: center;
}

.services__heading {
    margin-bottom: 1.5rem;
}

.services__offers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80vw;
    padding: 0 10vw;
}

.services__offers__card {
    height: 15rem;
    width: 20rem;
}

.services__offers__card__heading {
    font-weight: 350;
    font-size: 2rem;
}

.services__offers__card__description {
    margin-bottom: 1rem;
    margin: 0 3rem;
    height: 3rem;
    font-size: 1rem;
}

.services__offers_card__button {
    font-weight: 350;
    background: black;
    border: 1px solid black;
    color: white;
    text-decoration: none;
    padding: 0.6rem 2rem;
    margin: 2rem 2.5rem;
    transition: 0.2s;

    display: flex;
    align-items: center;
}

.services__offers_card__button > p {
    font-size: 1rem;
    margin: auto;
}

.services__offers_card__button:hover {
    color: black;
    background: white;
}

@media only screen and (max-width: 380px) {
    .services__offers {
        width: 100vw;
        padding: 0;
    }

    .services__offers__card {
        width: 25rem;
    }
}
