h1 {
    font-size: 5rem;
    font-weight: 400;
    margin: 1rem;
}

h2 {
    font-size: 3.3rem;
    font-weight: 350;
}

h3 {
    font-size: 2rem;
    font-weight: 300;
}

p {
    font-size: 1.5rem;
	font-weight: 200;
}

a {
    color: black;
}